<div class="grid gap-4">
  @for (opt of question().options; track  $index; let i = $index) {
    <cyborg-question-option [optIndex]="i" [correctOptsIndex]="correctOptsIndex"  [option]="opt" (onOptSelect)="onOptSelect($event)" [selectedOpts]="selectedOpts"></cyborg-question-option>
  }
</div>
@if(question().question_type === 'multi-answer' && !correctOptsIndex.length) {
  <cyborg-button class="flex mt-4 justify-end" (onClick)="onQuestionSubmission()" btnType="primary">
    <cyborg-text [textConfig]="{size: 'xs', family: 'orbitron', color: 'primary'}" textClass="uppercase block w-full">Submit</cyborg-text>
  </cyborg-button>
}