<section id="resultScreen" class="result-screen">
    <div class="result-icon" id="resultIcon">{{ aiMessage.avatar }}</div>
    <cyborg-text  textClass="my-4" [textConfig]="{size: 'xl', family: 'orbitron', color: 'primary' }">{{ aiMessage.title }}</cyborg-text>
    <cyborg-text textClass="mt-3 mb-6" [textConfig]="{size: 'md', family: 'inter', color: 'secondary' }">assessment sequence has ended. Final performance data is displayed below.</cyborg-text>
    <div class="result-score" id="finalScore">You scored {{questionStat.score }} out of {{ questionStat.totalQuestions }}</div>
    <div class="grid gap-4 mb-6 mt-3 grid-cols-[repeat(4,_minmax(150px,_1fr))]">
      <cyborg-stat-card>
        <div stat-label>Correct</div>
        <div class="cyborg-text-color-primary" stat-body>{{questionStat.score }}</div>
      </cyborg-stat-card>
      <cyborg-stat-card>
        <div stat-label>Wrong</div>
        <div class="cyborg-text-color-primary" stat-body>{{ questionSummary.wrong }}</div>
      </cyborg-stat-card>
      <cyborg-stat-card>
        <div stat-label>Accuracy</div>
        <div class="cyborg-text-color-primary" stat-body>{{ questionSummary.accuracy }}%</div>
      </cyborg-stat-card>
      <cyborg-stat-card>
        <div stat-label>Hints Used</div>
        <div class="cyborg-text-color-primary" stat-body>{{questionStat.hint}}</div>
      </cyborg-stat-card>
    </div>
    <div class="funny-result-box" id="funnyResultText">{{ aiMessage.text }}</div>
    <div class="flex justify-center gap-4">
      <cyborg-button (onClick)="backToHome()" btnType="primary">
        <cyborg-text [textConfig]="{size: 'xs', family: 'orbitron', color: 'primary'}" textClass="uppercase block w-full">Back To HOME</cyborg-text>
      </cyborg-button>
    </div>
  </section>