<cyborg-card>
  <div class="question-top h-full flex justify-between items-center gap-5 mb-5">
    <cyborg-text textClass="uppercase tracking-[1.5px]" [textConfig]="{size: '3xs', family: 'orbitron', color: 'accent'}">Select the correct response</cyborg-text>
    <div class="cyborg-scan h-[8px]"></div>
  </div>
  <div>
    <cyborg-text textClass="tracking-[1px] !text-[18px]" [textConfig]="{weight: 600, family: 'inter', color: 'primary'}">
      {{ question().question }}
    </cyborg-text>
    <div class="cyborg-divider"></div>
    @if(question().code) {
      <cyborg-code-snippet [codeSnippet]="question().code"></cyborg-code-snippet>
    }
    <!--  -->
    <cyborg-question-options [question]="question()" (onQuestionCompleted)="onQuestionValidated($event)"></cyborg-question-options>
  </div>
</cyborg-card>