<cyborg-card>
  <div class="question-top h-full flex justify-between items-center gap-5 mb-5">
    <cyborg-text textClass="uppercase tracking-[1.5px]" [textConfig]="{size: '3xs', family: 'orbitron', color: 'accent'}">Select the correct response</cyborg-text>
    <div class="cyborg-scan h-[8px]"></div>
  </div>
  <div>
    <cyborg-text [textConfig]="{size: 'md', family: 'orbitron', color: 'primary'}">Which HTML element is used to display an image?</cyborg-text>
    <div class="cyborg-divider"></div>
    <!-- <cyborg-code-snippet></cyborg-code-snippet> -->
    <div class="grid gap-4">
      <cyborg-question-option></cyborg-question-option>
      <cyborg-question-option></cyborg-question-option>
    </div>
    
  </div>
</cyborg-card>